
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row h-100 mb-5 mt-5">
        <div class="col-8 mx-auto text-center m-5">
            <div>
                <label class="h1 text-center m-5">Quên Mật Khẩu</label>
            </div>
            <label class="text-center alert-danger mb-4">
                @ViewBag.thongbao
            </label>
            <form method="post">
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <input type="email" name="email" class="form-control" placeholder="Địa chỉ Email" value="@ViewBag.email" />
                    <label class="form-label">Địa chỉ Email</label>
                </div>
                <div class="form-outline mb-4">
                    <input type="text" name="phone" class="form-control" placeholder="Số điện thoại" value="@ViewBag.phone" />
                    <label class="form-label">Số điện thoại</label>
                </div>
                <div class="row mb-4">
                    <div class="col text-left">
                        <a href="/Home/Login">Trở về đăng nhập</a>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block mb-4">Gửi</button>
            </form>
        </div>
    </div>
</div>