@{
    var customer = (MyClass.Models.Customer)System.Web.HttpContext.Current.Session["user"];
}

<!DOCTYPE html>

<html>
<head>
    <title>Quảng Đà Tour</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Grand Tour Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link rel="icon" type="image/png" sizes="16x16" href="~/Public/images/admin_images/l.png">
    <!-- css files -->
    <link href="~/Public/css/bootstrap.css" rel="stylesheet" />	<!-- bootstrap css -->
    <link href="~/Public/css/font-awesome.min.css" rel="stylesheet" />	<!-- fontawesome css -->
    <link href="~/Public/css/style.css" rel="stylesheet" />	<!-- custom css -->
    <!-- //css files -->
    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- //google fonts -->

</head>
<body>

    <!-- header -->
    <header>
        <div class="container">
            <!-- nav -->
            <nav class="py-md-4 py-3 d-lg-flex">
                <div id="logo">
                    <h1 class="mt-md-0 mt-2">
                        <a href="~/Home">
                            <img src="~/Public/images/admin_images/iconqd.png" alt="Logo" class="logo-image">
                            Quảng Đà Tour
                        </a>
                    </h1>
                </div>
                <label for="drop" class="toggle"><span class="fa fa-bars"></span></label>

                <ul class="menu ml-auto mt-1">
                    <li class="active"><a href="/Home">Trang chủ</a></li>
                    <li class="active"><a href="/TourCus">Tour</a></li>
                    <li class="active"><a href="~/Home/CamNang">Cẩm nang du lịch</a></li>
                    <li class="active"><a href="/Home/ThongTin">Thông tin</a></li>
                    @if (customer != null)
                    {
                        <li class="active"><a href="~/TaiKhoan/Index">@customer.LastName!</a></li>
                        <li class=""><a href="~/Home/Logout"><span class="fa fa-sign-out"></span></a></li>
                    }
                    else
                    {
                        <li class="booking "><a class="rounded" href="~/Home/Login">Đăng Nhập</a></li>
                        <li class="booking ml-2"><a class="rounded" href="~/Home/Register">Đăng Ký</a></li>
                    }
                </ul>
            </nav>
            <!-- //nav -->
        </div>
    </header>
    <!-- //header -->
    <!-- banner -->
    <section class="banner_inner" id="home">
        <div class="banner_inner_overlay">
        </div>
    </section>
    <!-- //banner -->
    <section class="main-content">
        <div class="row ">
            <div class="col-3 border-right ">
                <div class="my-md-3 align-middle">
                    <span class="container">
                        <img src="/Public/images/admin_images/b.png" class="img-fluid" alt="Responsive image">
                    </span>
                </div>
                <hr />
                <div class="list-group">
                    <a href="~/TaiKhoan/Index" class="list-group-item list-group-item-action">
                        Thông tin tài khoản
                    </a>
                    <a href="~/TaiKhoan/ChangePass" class="list-group-item list-group-item-action">Đổi mật khẩu</a>
                    <a href="~/TaiKhoan/History" class="list-group-item list-group-item-action">Lịch sử đặt tour</a>
                </div>
            </div>

            <div class="col-9">
                @RenderBody()
            </div>
        </div>
    </section>
    <!--footer -->
    <footer>
        <section class="footer footer_w3layouts_section_1its py-5">
            <div class="container py-lg-4 py-3">
                <div class="row footer-top">
                    <div class="col-lg-3 col-sm-6 footer-grid_section_1its_w3">
                        <div class="footer-title">
                            <h3>Address</h3>
                        </div>
                        <div class="footer-text">
                            <p>Location : K7/25 Quang Trung, Đà Nẵng, Việt Nam</p>
                            <p>Phone : +84 999999999</p>
                            <p>Email : <a href="quangdatour@gmail.com">quangdatour@gmail.com</a></p>
                            <p>Fax : +84 999999999</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 mt-lg-0 mt-4 footer-grid_section_1its_w3">
                        <div class="footer-title">
                            <h3>Travel Places</h3>
                        </div>
                        <div class="row">
                            <ul class="col-6 links">
                                <li><a href="#choose" class="scroll">TP. Đà Nẵng </a></li>
                                <li><a href="#overview" class="scroll">Quảng Nam </a></li>
                                <li><a href="#pricing" class="scroll">TP. Huế</a></li>
                                <li><a href="#faq" class="scroll"> Quảng Bình</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </footer>
    <!-- //footer -->
    <!-- copyright -->
    <div class="copyright py-3 text-center">
        <p>© 2023 Quảng Đà Tour</p>
    </div>
    <!-- //copyright -->
    <!-- move top -->
    <div class="move-top text-right">
        <a href="#home" class="move-top">
            <span class="fa fa-angle-up  mb-3" aria-hidden="true"></span>
        </a>
    </div>
    <!-- move top -->
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    <df-messenger intent="WELCOME"
                  chat-title="Chat"
                  agent-id="c4b14f27-4b10-45cb-bf9e-ff5879743866"
                  language-code="en"></df-messenger>
    <script src="~/Public/js/site.js"></script>
    <script src="~/Public/js/bootstrap.min.js"></script>
    <script src="~/Public/js/jquery.min.js"></script>
    <script src="~/Public/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    @RenderSection("footer", required: false)
</body>
</html>


